.navbar {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  min-height: 5rem;
  margin: 0;
  padding: 0;
  align-items: center;

  .navbar__list {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;

    li {
      padding: 0 2rem;

      &:hover {
        color: #ff9504;
        transition: all 0.3s ease-out;
        cursor: pointer;
      }
    }
  }
}
