.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background: #043c6d;
    min-height: 5rem;
    margin: 0;
    padding: 0;
    align-items: center;
  
    @media (max-width: 60rem) {
      display: none;
    }
  
    .navbar__list {
      display: flex;
      list-style: none;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
  
      li {
        padding: 0 2rem;
  
        &:hover {
          color: #ff9504;
          transition: all 0.3s ease-out;
          cursor: pointer;
        }
      }
    }
  }
  
  .header-mobile {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 4rem;
    align-items: center;
  
    @media (max-width: 60rem) {
      display: flex;
    }
  
    .navbar-mobile__hamburger {
      margin-left: 1rem;
      color: white;
    }
  
    .navbar-mobile-closed {
      display: grid;
      grid-template-columns: 1fr;
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      margin: 0;
      border-right: 0.5px solid #0d5d77;
      background: white;
      width: 70%;
      height: 100%;
      align-content: center;
      transform: translateX(-101%);
      transition: all 200ms ease-out;
    }
  
    .navbar-mobile-open {
      display: grid;
      grid-template-columns: 1fr;
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      margin: 0;
      border-right: 0.5px solid #0d5d77;
      background: white;
      width: 70%;
      height: 100%;
      transform: translateX(0);
      transition: all 200ms ease-out;
    }
  
    .navbar-mobile__list {
      width: 90%;
      height: 100%;
      list-style: none;
      margin: 2rem auto;
      padding: 0;
      font-weight: bold;
  
      .navbar-mobile__list__item {
        margin: 1rem 0;
        font-size: 1.5rem;
      }
    }
  }
  
  .backdrop-closed {
    display: none;
  }
  
  .backdrop-open {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: black;
    opacity: 40%;
  
    @media (max-width: 60rem) {
      display: block;
    }
  }
  